<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="script.js" defer></script>
</head>
<body>
  <section class="main-section">
    <h2>О нас</h2>
    <p>Добро пожаловать в наш фитнес-клуб! Мы предлагаем широкий спектр тренировок и программ, которые помогут вам достичь своих фитнес-целей.</p>
    <p>Присоединяйтесь к нам сегодня и начните свой путь к здоровью и физической форме!</p>
    <a href="регистрация.html">Зарегистрироваться</a>
  </section>

  <section class="form-section">
    <form id="registration-form">
      <h2>Регистрация</h2>
      <input type="text" id="name" placeholder="Имя" required>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Пароль" required>
      <input type="password" id="confirm-password" placeholder="Подтверждение пароля" required>
      <button type="submit">Зарегистрироваться</button>
    </form>

    <form id="login-form">
      <h2>Вход</h2>
      <input type="email" id="login-email" placeholder="Email" required>
      <input type="password" id="login-password" placeholder="Пароль" required>
      <button type="submit">Войти</button>
    </form>
  </section>
</body>
</html>
